{% extends "base.html" %}
{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-8" style="padding-bottom:20px;">
        {{ message|safe }}
        <h3>Export a List</h3>
    </div>
</div>
<div class="row justify-content-md-center">
<div class="col-md-8">
    <form action="/export/lists" method="post">
        <div class="mb-3">
            <select class="form-select" name="listName">
                <option selected>Select a list to export</option>
                {% for list in lists %}
                <option value="{{list}}">{{list}}</option>
                {% endfor %}
            </select>
            <div id="propertyHelp" class="form-text">Don't see the list you want? Create one <a href="/export/new">here</a>.</div>
        </div>
        <div class="mb-3">
            <label for="propertySelect" class="form-label">Select one or more properties to include</label>
            <select class="form-select" id="propertySelect" name="selectedProperties" multiple>
                <option value="CURIE">CURIE</option>
                <option value="IRI">IRI</option>
                <option value="rdfs:label">Label</option>
                <option value="rdfs:subClassOf [CURIE]">subClassOf (CURIE)</option>
                <option value="rdfs:subClassOf [LABEL]">subClassOf (Label)</option>
                <!-- TODO: dynamically generate properties? -->
            </select>
            <div id="propertyHelp" class="form-text">Hold alt/cmd to select multiple.</div>
        </div>
        <div class="row g-3 justify-content-end ms-auto">
            <div class="col-md-10">
                <div class="row">
                    <label for="formatOptions" class="form-label">Export format</label>
                </div>
                <div class="form-check form-check-inline" id="formatOptions">
                    <input class="form-check-input" type="radio" name="formatOption" id="tsvRadio" value="tsv" checked>
                    <label class="form-check-label" for="tsvRadio">TSV</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="formatOption" id="csvRadio" value="csv">
                    <label class="form-check-label" for="csvRadio">CSV</label>
                </div>
            </div>
            <div class="col-md-2" style="padding-top:10px;">
                <input type="submit" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
</div>

{% endblock %}