{% extends "base.html" %}
{% block content %}

<div class="row justify-content-md-center">
	<div class="col-md-10">
		{{ message|safe }}
		<div class="row">
		<h3>List Control</h3>
		<p>
			<a href="/export/lists"><h4>Export a list</h4></a>
		</p>
		</div>

		<div class="row" style="padding-bottom:20px;">
			<h4>Create a new list</h4>
			<form action="/export?action=create" method="POST">
				<div class="row g-3">
					<div class="col-md-5">
						<input type="text" name="listName" class="form-control">
						<div id="listHelp" class="form-text">Please avoid spaces and special characters.</div>
					</div>
					<div class="col-md-4">
						<button class="btn btn-primary" type="submit">Create</button>
					</div>
				</div>
			</form>
		</div>

		<div class="row" style="padding-bottom:30px;">
			<h4>Edit a list</h4>
			<form action="/export/edit" method="GET">
				<div class="row g-3">
					<div class="col-md-5">
						<select class="form-select" name="list">
					        <option selected>Select a list to edit</option>
					        {% for list in lists %}
					        	<option value="{{ list }}">{{ list }}</option>
					        {% endfor %}
					    </select>
					</div>
					<div class="col-md-4">
						<button class="btn btn-primary" type="submit">Edit</button>
					</div>
				</div>
			</form>
		</div>

		<div class="row">
			<h4>Delete a List</h4>
			<form action="/export?action=delete" method="POST">
				<div class="row g-3">
					<div class="col-md-5">
						<select class="form-select" name="list">
					        <option selected>Select a list to delete</option>
					        {% for list in lists %}
					        	<option value="{{ list }}">{{ list }}</option>
					        {% endfor %}
					    </select>
					    <div id="deleteHelp" class="form-text">This action cannot be undone! All list data will be removed.</div>
					</div>
					<div class="col-md-4">
						<button class="btn btn-danger" type="submit">Delete</button>
					</div>
				</div>
			</form>
		</div>
</div>
</div>

{% endblock %}