{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <table class="table" id="displayTable">
            <thead>
                {% for h in headers %}
                <th>{{ h }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for r in rows %}
                <tr>
                    {% for cell in r %}
                    <td>{{ cell|safe }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if export %}
        <div class="row float-end">
            <p class="small">Export as: <a href="export?format=tsv">TSV</a> | <a href="export?format=csv">CSV</a></p>
        </div>
        {% endif %}
    </div>
</div>

<script>
    // Colors for diffing
    let table = document.getElementById("displayTable");
    console.log(table.rows);
    for (let i = 0; i <= table.rows.length; i ++) {
        let row = table.rows[i];
        if (!row) {
            continue;
        }
        let diffCell = row.cells[0].innerHTML;
        console.log(diffCell);
        if (diffCell === "+") {
            console.log("Added");
            row.classList.add("table-success");
        } else if (diffCell === "-") {
            console.log("Removed");
            row.classList.add("table-danger");
        }
    }
</script>

{% endblock %}