{% extends "base.html" %}
{% block content %}

{{ message|safe }}

<div class="row justify-content-md-center" style="padding-top:10px; padding-bottom:20px;">
  <div class="col-md-10">
  	<div class="form-row mt-2 mb-2">
        <input id="statements-typeahead" class="typeahead form-control" type="text" value="" placeholder="Search"/>
      </div>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-10 tree">
      {% if user %}
      <div class="row">
          <div class="col-md-12">
              <div class="row float-end">
                  <div class="col">
                      <form method="POST">
                          <input id="submitExportTermID" type="hidden" name="term" value="">
                          <button id="submitExport" type="submit" class="btn btn-primary">Export</button>
                      </form>
                  </div>
                  <div class="col">
                      <form action="/update">
                          <input id="submitUpdateTermID" type="hidden" name="term" value="">
                          <button id="submitUpdate" type="submit" class="btn btn-primary">Update</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      {% endif %}
    {{ tree|safe }}
  </div>
</div>

<script>
    let loc = window.location.href;
    let termID = loc.split("/").slice(-1)[0];
    if (termID === "browse") {
        let btn = document.getElementById("submitUpdate");
        btn.disabled = true;
        btn = document.getElementById("submitExport");
        btn.disabled = true;
    } else {
        let input = document.getElementById("submitUpdateTermID");
        input.setAttribute("value", termID);
        input = document.getElementById("submitExportTermID");
        input.setAttribute("value", termID);
    }
</script>

{% endblock %}